core/src/main/resources/zone.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ZoneServiceService" targetNamespace="http://service.zone.inpranet.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.zone.inpranet.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://www.inpranet.com/zone" version="1.0" xmlns:ns1="http://service.zone.inpranet.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://service.zone.inpranet.com/" />
<xs:element name="zone" type="ns1:zone" />

</xs:schema>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.zone.inpranet.com/" version="1.0" xmlns:ns1="http://www.inpranet.com/zone" xmlns:tns="http://service.zone.inpranet.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.inpranet.com/zone" />
<xs:element name="getZoneListFromPos" type="tns:getZoneListFromPos" />
<xs:element name="getZoneListFromPosResponse" type="tns:getZoneListFromPosResponse" />
<xs:complexType name="getZoneListFromPos">
    <xs:sequence>
      <xs:element name="longitude" type="xs:double" />

      <xs:element name="latitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getZoneListFromPosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:zone" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="zone">
    <xs:sequence>

      <xs:element name="idZone" type="xs:int" />
      <xs:element minOccurs="0" name="zoneInterest" type="tns:interest" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="interest">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="idInterest" type="xs:long" />
      <xs:element minOccurs="0" name="name" type="xs:string" />

    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getZoneListFromPosResponse">
    <wsdl:part element="tns:getZoneListFromPosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZoneListFromPos">

    <wsdl:part element="tns:getZoneListFromPos" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IZoneService">
    <wsdl:operation name="getZoneListFromPos">
      <wsdl:input message="tns:getZoneListFromPos" name="getZoneListFromPos">
    </wsdl:input>
      <wsdl:output message="tns:getZoneListFromPosResponse" name="getZoneListFromPosResponse">
    </wsdl:output>

    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZoneServiceServiceSoapBinding" type="tns:IZoneService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getZoneListFromPos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getZoneListFromPos">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getZoneListFromPosResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZoneServiceService">
    <wsdl:port binding="tns:ZoneServiceServiceSoapBinding" name="ZoneServicePort">
      <soap:address location="http://localhost:8080/zone/zone" />
    </wsdl:port>

  </wsdl:service>
</wsdl:definitions>